{% extends "panel/base.html" %}

{% block title %}Registros{% endblock %}

{% block content %}
<h1 class="mb-4">Registros de Usuarios</h1>

<div class="card p-4">
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>admin</td>
                <td>admin@example.com</td>
                <td>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>usuario1</td>
                <td>user@example.com</td>
                <td>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
