{% extends "base.html" %}
{% block content %}

<h2>Editar ración</h2>

<form method="POST">
    {% csrf_token %}

    <label>Lote</label>
    <select name="lote" class="form-select">
        {% for l in lotes %}
        <option value="{{ l.id }}" {% if l.id == racion.lote.id %}selected{% endif %}>
            {{ l.nombre_lote }}
        </option>
        {% endfor %}
    </select>

    <label class="mt-2">Total alimento (kg)</label>
    <input type="number" step="0.01" class="form-control"
           name="cantidad_total_kg" value="{{ racion.cantidad_total_kg }}" required>

    <label class="mt-2">% Algas</label>
    <input type="number" step="0.01" class="form-control"
           name="porcentaje_algas" value="{{ racion.porcentaje_algas }}" required>

    <label class="mt-2">% Carbonato</label>
    <input type="number" step="0.01" class="form-control"
           name="porcentaje_carbonato" value="{{ racion.porcentaje_carbonato }}" required>

    <label class="mt-2">Observaciones</label>
    <input type="text" class="form-control" name="observaciones"
           value="{{ racion.observaciones }}">

    <button class="btn btn-success mt-3">Guardar cambios</button>
</form>

{% endblock %}
